.contenedor_detalles{

    display: flex;
    justify-content: space-around;
    align-items: center;
   /* background-color: red; */
    height: 700px;



}

.imagen-fuente{
    height: 250px;
}


.informacion-producto{

    display: flex;
    flex-direction: column;

}

.nombre-producto{
    font-size: 40px;
    padding-bottom: 5px;
}

.precio-producto{
    font-size: 40px;
    padding-bottom: 5px;
}

.precio-producto-descuento{

    font-size: 25px;
    font-weight: 600;

}

.porcentaje-descuento{
    font-size: 20px;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descripcion-producto{
    font-size: 15px;
}

.contenedor-botones{
    
    display: flex;
    flex-direction: column;
    

}

.contenedor-botones button{

    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;

}


.boton-comprar{

    background-color: rgb(46, 155, 243);
    color: white;
    border: 2px solid  rgb(46, 155, 243);
    border-radius: 5px;
    font-weight: 600;

}

.boton-comprar:hover{

    cursor: pointer;
    background-color:  rgb(102, 163, 212);
    border: 2px solid  rgb(102, 163, 212);
    border-radius: 10px;
}


.boton-carrito{

    background-color: white;
    color:rgb(46, 155, 243);
    border: 2px solid  rgb(46, 155, 243);
    border-radius: 5px;
    font-weight: 600;

}

.boton-carrito:hover{
    

    cursor: pointer;
    background-color: rgb(46, 155, 243);
    color: white;
    border-radius: 10px;
}




