
.boton-raiz-pago {
    text-decoration: none;
    width: 400px;
    height: 50px;
    background-color: rgb(46, 155, 243);
    color: white;
    border: 2px solid rgb(46, 155, 243);
    border-radius: 5px;
    font-weight: 600;
    margin: 20px;
    padding: 10px;
    
  }

  .boton-raiz-pago:hover {
    cursor: pointer;
    background-color: rgb(113, 188, 250);
    border: 2px solid rgb(113, 188, 250);
  }
  
  
  html,
body {
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
}


.contenedor-carrito {
  height: auto;
}

.tabla-productos {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* background-color: red;*/
  margin-left: 100px;
  margin-top: 50px;
}

th {
  font-size: 20px;
  text-align: initial;
}

td {
  text-align: initial;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
}

.sombreado-titulo {
  border: 0.5px solid black;
  width: 101%;
  margin-top: 5px;
}

.sombreado-producto {
  width: 110%;
  border: 0.1px solid #e7e7e7;
  margin-top: 10px;
}

.cantidad-total {
  font-size: 25px;
}

.boton-eliminar {
  padding: 4px;
  font-size: 12px;
  background-color: rgb(255, 196, 0);
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-comprar {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 30px;
}


#texto-detalles-pago{
    padding-left: 140px;
    padding-top: 40px;
}


#texto-detalles-pago h4{
    font-size: 30px;
}


